/* .form-control {
    background: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: inset 7px 2px 10px #ededed,
    inset -5px -5px 12px #fff;
} */

.subtitle {
    font-family: 'GowunBatang-Regular', cursive;
}